@{
    
}

<form asp-action="AddProfessionAdd" class="uk-form">
    <label>Наименование</label>
    <input type="text" class="uk-input" name="Name"/>
    <label>Описание</label>
    <input type="text" class="uk-input" name="Description" />

    <button class="uk-button uk-button-primary" type="submit">Добавить</button>
</form>