<div class="uk-width-1-1@l list-vacancy">
    <div class="uk-flex uk-flex-column uk-width-1-1 list">
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-bottom list-item">
            <a asp-action="ListApplicant">
                Список соискателей
            </a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-bottom list-item">
            <a asp-action="ListEmployer">
                Список работодателей
            </a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-bottom list-item">
            <a asp-action="AddProfession">
                Добавить профессию
            </a>
        </div>
        <div class="uk-card uk-card-default uk-card-body uk-card-hover uk-margin-bottom list-item">
            <a asp-action="ListProfession">
                Список профессий
            </a>
        </div>
    </div>
</div>