  <link rel="stylesheet" href="style.css">

  <div class="uk-card uk-card-large uk-card-hover uk-card-body uk-card-default">
    <div class="uk-card-title">ФИО(или название компании)</div>
    <div> Общая информация(card)</div>
    <div class="buttons">
      <button class="uk-button">Редактировать информацию</button>
      <button class="uk-button">Изменить пароль</button>
      <button class="uk-button">Изменить логин</button>
    </div>
  </div>